ansicolor==0.2.6
atomicwrites==1.2.1
attrs==18.2.0
chardet==3.0.4
Click==7.0
coverage==4.5.2
covimerage==0.1.2
flake8==3.6.0
greenlet==0.4.15
mccabe==0.6.1
more-itertools==5.0.0
msgpack==0.6.0
mypy==0.650
mypy-extensions==0.4.1
neovim==0.3.1
pluggy==0.8.0
py==1.7.0
pycodestyle==2.4.0
pyflakes==2.0.0
pynvim==0.3.1
pytest==4.0.2
pytest-cov==2.6.0
PyYAML==3.13
six==1.12.0
typed-ast==1.1.1
vim-vint==0.3.19
